<%-include("./main-layout/head.ejs")%>
<link rel="stylesheet" href="/css/pageNotFound.css" />
</head>
  <body>
      <%-include("./main-layout/nav.ejs")%>
    <h1 class="error-message">Page Not Found!</h1>
   <%- include ("./main-layout/end.ejs")%>  
