main {
  padding-top: 2rem;
  max-width: min(50rem, 90%);
  margin: auto;
}
.order-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item h1 {
  margin: 0;
  font-size: 1rem;
}

.order-item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.order-products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-product {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #00695c;
  color: #00695c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-invoice {
  text-align: end;
}
